.navbar{
  margin: 6vh;
}
.navbar-icon {
  color: #ffffff;
  opacity: 0.3;
  transition: 1s;
  text-size-adjust: 100px;
  margin-bottom: 1vh;
}
.navbar-icon:hover {
  opacity: 0.8;
}
.Nav-center{
  margin: auto;

}
.icons-size {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;

}
.giro{
  transition: 1s ;
}
.giro:hover{
  transform:rotateY(180deg)
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #7b95b3;
  padding: 20px;
}
h1 {
  display: inline;
}
.aumento{
  transition: 1s;
}
.aumento:hover{
  transform: scale(110%);
}
.centrar{
  text-align: center;
  margin: auto;
}
.borde{
  border: black solid;
}







/*        INDEX        */





.presentacion {
margin-top:10vh;
}
.present-card {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: #888888;
  border-radius: 5px;
  margin: auto;
  height: 50vh;
  width: 55vw;
  size: cover;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0px 5px 10px rgb(0, 0, 0, 0.4);
}
.text-present {
  display: flexbox;
  margin: auto;
  margin: 20px;
  width: 70;
}
.fondo-Sor {
  height: 50vh;
  width: 25vw;
}






/*        Proyectos        */





.Background-Section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 95vw;
  align-items: center;
  justify-content: center;
  
}

.fondo-tarjetas {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 50px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.521);
  padding: 3vh;
  margin-top: 50px;
  border-radius: 5px;
  padding: 10vh;
  padding-top: 10vh;
}


.img-card {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.sombra-box {
  margin: auto;
  width: 300px;
  height: 400x;
  box-shadow: 0px 0px 7px 7px rgb(0, 0, 0, 0.7);
  overflow: hidden;
  transition: 0.5s;
}

.sombra-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 7px rgb(0, 0, 0, 0.7);
}

.marco-img {
  width: 100%;
  height: 175px;
  overflow: hidden;
  cursor: pointer;
}

.sombra-box:hover .img-card {
  transform: scale(1.1);
  cursor: auto;
} 

.card-table span {
  display: inline;
  color: #999;
  margin-bottom: 10px;
}

.text-card {
  padding: 15px;
  background-color: #fff;
  text-align: left;
  align-items: left;
}

.text-card h2 {
  margin-bottom: 15px;
  display: inline;
}

.text-card p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.text-card .link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #2b6ebb;
  color: #fff;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 1px rgb(0, 0, 0, 0.2);
  transition: 0.2s;
}

.text-card .link:hover {
  background: #3378c7;
  box-shadow: 1px 2px 6px 1px rgb(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Tabla de la carta */
.table-card {
  margin: auto;
  align-items: left;
  /* border: black solid; */
  width: 100%;
  height: 200%;
}
.card-table tr td {
  /* border: solid black; */
  align-items: left;
}

.h2-card {
  text-align: left;
  column-span: 2;
}

.fecha {
  width: 10%;
}








/*        DESCARGAS        */





.Mega {
  width: 400;
  height: 225px;
}
.Drive {
  width: 480px;
  height: 288px;
  /* background-color: white; */
}
.Moodle {
  width: 307.2px;
  height: 307.2px;
}
.Eti {
  width: 400px;
  height: 400px;
}
.D-center {
  text-align: center;
}
.D-table {
  margin: auto;
  margin-top: 100px;
}
.D-td-1 {
  width: 50%;
}
.sonic{
width: 50px;
height: 75px;
animation-name: sanic;
animation-duration: 4s;
}
.sonic-div{
  width: 1000px;
  height: 100px;
  border: solid black;
}







/*        ENTRADAS        */






.titulo-entrada{
  margin-top: 5vh;
  
}
.div-entrada{
  margin-top: 7ch;
  margin-left: 20vh;
  margin-right: 20vh;
  display: flex;
}
.texto-entrada{
  float:left;
  display:inline;
  width: 50%;
  margin-right: 5vw;

  font-size: 34px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
/* .video-entrada */
.underline{
  text-decoration: underline;
}


/*        RESPONSIVE        */
@media (max-width: 1800px) {
  .fondo-tarjetas {
    grid-template-columns: repeat(2, 1fr);
    /* transition: 10s; */
  }
}

@media (max-width: 1450px) {
  .fondo-tarjetas {
    grid-template-columns: repeat(1, 1fr);
    /* transition: 5s; */
  }
}
@media (max-width: 700px) {
  .fondo-tarjetas {
    width: 400px;
  }
}





/* @keyframes sanic{
    0%   {background-color:red; left:0px; right: 0px;}
    100%  {background-color:blue;left: 0px; right: 1000px;}
} */
